*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(5, 5, 20);
    color: #fff;
}

#scroller{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type:y mandatory;
}

#scroller section{
    height: 100vh;
    scroll-snap-align: start;

    text-align: center;
    display: grid;
    place-content: center;
}

h1{
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform s;
}

h1:hover{
    transform: translate3d(0, -10px, 0) scale3d(1.1, 1.1, 1);
    text-shadow: 1px 1px 1px #fff;;
    
}