*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(5, 5, 20);
    color: #fff;
}

#scroller{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type:y mandatory;
}

#scroller section{
    height: 100vh;
    scroll-snap-align: start;
}